.memory-lane {
  padding: 1.25em;
  background: linear-gradient(to right, #8C0301, #450505, #641c1c, #952828);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff; // Ensures text is visible on the dark background

  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25em;
    justify-content: center;
    margin-top: 1.25em;
  }

  .photo-card {
    border: 0.0625em solid #ddd;
    padding: 0.9375em;
    border-radius: 0.5em;
    box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 12.5em;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      transform: translateY(-0.3125em);
    }

    .photo-image {
      width: 100%; // Makes the image fill the card width
      height: 9.375em; // Fixed height to maintain aspect ratio
      object-fit: cover; // Ensures the image covers the div area without distortion
      border-radius: 0.5em;
    }
  }

  input[type="date"] {
    width: calc(100% - 1.875em); // Adjusts for padding
    padding: 0.3125em;
    margin-top: 0.625em;
    margin-left: 0.9375em; // Aligns input for aesthetics
    margin-right: 0.9375em; // Aligns input for aesthetics
    border-radius: 0.25em;
    border: 0.0625em solid #ccc;
  }

  input[type="file"] {
    margin: 1.25em;
    padding: 0.625em;
    background-color: #ffffff;
    border: 0.0625em solid #ddd;
    border-radius: 0.25em;
  }
}
