.memory-lane {
    padding: 20px;
    background: linear-gradient(to right, #8C0301, #450505, #641c1c, #952828);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff; /* Ensures text is visible on the dark background */
  }
  
  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .photo-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .photo-card:hover {
    transform: translateY(-5px);
  }
  
  .photo-image {
    width: 100%;   /* Makes the image fill the card width */
    height: 150px; /* Fixed height to maintain aspect ratio */
    object-fit: cover; /* Ensures the image covers the div area without distortion */
    border-radius: 8px;
  }
  
  input[type="date"] {
    width: calc(100% - 30px); /* Adjusts for padding */
    padding: 5px;
    margin-top: 10px;
    margin-left: 15px; /* Aligns input for aesthetics */
    margin-right: 15px; /* Aligns input for aesthetics */
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  input[type="file"] {
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  